<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentDetail">
	<!-- 등록 -->
	<select id="sequence" resultType="long">
		select payment_detail_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into payment_detail (
			payment_detail_no, payment_detail_origin,
			payment_detail_item_no, payment_detail_item_name,
			payment_detail_item_price, payment_detail_qty
		)
		values(
			#{paymentDetailNo} , #{paymentDetailOrigin},
			#{paymentDetailItemNo}, #{paymentDetailItemName},
			#{paymentDetailItemPrice}, #{paymentDetailQty}
		)
	</insert>
	
	<select id="listByOrigin" resultType="PaymentDetailDto">
	select * from payment_detail 
	where payment_detail_origin = #{paymentDetailOrigin}
	order by payment_detail_no asc
	</select>
	
	<update id="cancel">
		update payment_detail 
		set payment_detail_status = '취소' 
		where payment_detail_origin = #{paymentDetailOrigin}
	</update>
	
	
	<select id="detail" resultType="PaymentDetailDto">
	select * from payment_detail where payment_detail_no = #{paymentDetailNo}
	</select>
	
	<select id="check" resultType="int">
		select count(*) from payment_detail 
		where payment_detail_origin = #{paymentNo} 
		and payment_detail_status = '승인'
	</select>
</mapper>

