<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurant">

    <select id="sequence" resultType="long">
        select restaurant_seq.nextval from dual
    </select>

    <!-- C -->
    <insert id="insert">
        insert into restaurant(
            restaurant_id, owner_id, restaurant_place, restaurant_name, restaurant_open,
            restaurant_close, restaurant_break_start, restaurant_break_end,
            restaurant_contact, restaurant_address, restaurant_address_x, restaurant_address_y, restaurant_description,
            restaurant_opening_days, restaurant_last_order, reservation_interval, restaurant_reservation_price
        ) values (
            #{restaurantId}, #{ownerId}, #{restaurantPlace}, #{restaurantName}, 
            #{restaurantOpen}, #{restaurantClose}, #{restaurantBreakStart}, 
            #{restaurantBreakEnd}, #{restaurantContact}, 
            #{restaurantAddress}, #{restaurantAddressX}, #{restaurantAddressY}, 
            #{restaurantDescription}, #{restaurantOpeningDays}, #{restaurantLastOrder}, 
            <if test="reservationInterval != null">#{reservationInterval}, </if>
        	<if test="reservationInterval == null">DEFAULT, </if>
            <if test="restaurantReservationPrice != null">#{restaurantReservationPrice}</if>
        	<if test="restaurantReservationPrice == null">DEFAULT</if>
        )
    </insert>

    <!-- R(전체) -->
    <select id="list" resultType="RestaurantDto">
        select * from restaurant
        order by restaurant_id desc
    </select>
	
	<!-- 승인 대기 식당 리스트 조회 -->
	<select id="listNeedApprove" resultType="RestaurantDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from restaurant 
				where restaurant_status = 'N' 
				order by restaurant_id asc
			)TMP 
		) where rn between #{begin} and #{end}
	</select>
	
    <!-- R(상세) -->
    <select id="detail" resultType="RestaurantDto">
        select *
        from restaurant
        where restaurant_id = #{restaurantId}
    </select>

    <!-- U(부분 수정) -->
    <update id="updateUnit">
        update restaurant
        <set>
            <if test="ownerId != null"> owner_id = #{ownerId}, </if>
            <if test="restaurantPlace != 0"> restaurant_place = #{restaurantPlace}, </if>
            <if test="restaurantName != null"> restaurant_name = #{restaurantName}, </if>
            <if test="restaurantOpen != null"> restaurant_open = #{restaurantOpen}, </if>
            <if test="restaurantClose != null"> restaurant_close = #{restaurantClose}, </if>
            <if test="restaurantBreakStart != null"> restaurant_break_start = #{restaurantBreakStart}, </if>
            <if test="restaurantBreakEnd != null"> restaurant_break_end = #{restaurantBreakEnd}, </if>
            <if test="reservationInterval != 0"> reservation_interval = #{reservationInterval}, </if>
            <if test="restaurantPhone != null"> restaurant_phone = #{restaurantPhone}, </if>
            <if test="restaurantAddressX != 0"> restaurant_address_x = #{restaurantAddressX}, </if>
            <if test="restaurantAddressY != 0"> restaurant_address_y = #{restaurantAddressY}, </if>
            <if test="restaurantDescription != null"> restaurant_description = #{restaurantDescription}, </if>
            <if test="restaurantOpeningHours != null"> restaurant_opening_hours = #{restaurantOpeningHours}, </if>
            <if test="restaurantOperationStatus != null"> restaurant_operation_status = #{restaurantOperationStatus}, </if>
            <if test="restaurantStatus != null"> restaurant_status = #{restaurantStatus}, </if>
            <if test="restaurantAvgRating != 0"> restaurant_avg_rating = #{restaurantAvgRating}, </if>
        </set>
        where restaurant_id = #{restaurantId}
    </update>

    <!-- D -->
    <delete id="delete">
        delete from restaurant 
        where restaurant_id = #{restaurantId}
    </delete>
    
    <select id="searchList"
        parameterType="com.kh.fd.vo.SearchVO"
        resultType="com.kh.fd.vo.RestaurantListVO">

    select distinct
        restaurant.restaurant_id,
        restaurant.restaurant_name,
        restaurant.restaurant_address,
        restaurant.restaurant_opening_days,
        restaurant.restaurant_open,
        restaurant.restaurant_close

    from restaurant

    left join place
        on restaurant.restaurant_place = place.place_id

    left join category_mapping
        on restaurant.restaurant_id = category_mapping.restaurant_id

    left join category child_category
        on category_mapping.category_no = child_category.category_no

    left join category parent_category
        on child_category.parent_category_no = parent_category.category_no

    where 1 = 1

    <if test="keyword != null and keyword != ''">
        and (
            restaurant.restaurant_name like '%' || #{keyword} || '%'
            or restaurant.restaurant_address like '%' || #{keyword} || '%'
            or place.place_depth1 like '%' || #{keyword} || '%'
            or place.place_depth2 like '%' || #{keyword} || '%'
            or place.place_depth3 like '%' || #{keyword} || '%'

            or child_category.category_name like '%' || #{keyword} || '%'
            or parent_category.category_name like '%' || #{keyword} || '%'
        )
    </if>

    order by restaurant.restaurant_id desc
</select>
    
    
		<!-- 식당 프로필 설정 -->
  	<insert id="connect">
  		insert into restaurant_profile values (#{restaurantId}, #{attachmentNo})
  	</insert>
  	
  	<!-- 식당 번호로 첨부파일 반환 -->
  	<select id="findProfile" resultType="int">
  		select attachment_no from restaurant_profile where restaurant_id = #{restaurantId}
  	</select>
  	
	<!-- 카테고리/지역 그룹 합쳐서 조회(정렬 기본) + 페이지적용 -->
	<select id="listWithCategory" resultType="RestaurantListVO">
		SELECT * FROM (
		    SELECT rownum AS rn, TMP.*
		    FROM (
		        SELECT *
		        FROM (
		            SELECT rl.*,
		                   ROW_NUMBER() OVER (
		                       PARTITION BY restaurant_id 
		                       ORDER BY restaurant_id
		                   ) AS dup_rn
		            FROM restaurant_full_list rl
		        ) t
		        WHERE t.dup_rn = 1
		        ORDER BY restaurant_id
		    ) TMP
		) 
		WHERE rn BETWEEN #{begin} AND #{end}1
	</select> 
	
	<select id="listCount" resultType="int">
		SELECT COUNT(*)
			FROM (
    			SELECT rl.*, ROW_NUMBER() OVER 
    			(PARTITION BY restaurant_id ORDER BY restaurant_id) AS rn
    		FROM restaurant_full_list rl
		) t
		WHERE t.rn = 1
	</select>
	
	<select id="approvalListCount" resultType="int">
		select count(*) from restaurant where restaurant_status = 'N'
	</select>
</mapper>
